 <!-- Novo jeito -->
 <div class="container" id="ongs">
    <div class="row mb-5">
      <div></div>
    </div>
    <div class="row d-flex justify-content-between align-items-center">

      <div class="row">
        <div class="col-md-7 d-flex flex-column">
          <div>
            <hr>
            <div class="d-flex justify-content-start">
              <h2>NOVO JEITO</h2>
            </div>
            <hr>
            <p class='text-justify'>
              O novo Jeito tem a vocação de tocar corações,
              mudar comportamentos realizar ações solidárias,
              criar movimentos, para que mais e mais pessoas
              possam trabalhar, dormir, comer, estudar e ter
              uma vida mais digna em todos aspectos.
            </p>
            <div class="d-flex justify-content-start">
              <button type="button" class="btn btn-danger" id="bttn-register" routerLink='/cadastro-acolhedor'>SEJA
                UM
                ACOLHEDOR</button>
            </div>
          </div>
        </div>
        <div class="col-md-5 d-flex flex-column">
          <img src="../../assets/img/NOVOJEITO.png" class='img-cf'>
        </div>
        <div class="w-100"></div>
        <div class="col-md-12 mt-3 d-flex flex-column">
          <div>
            <hr>
            <div class="d-flex justify-content-start">
              <h2>NOSSOS PROJETOS</h2>
            </div>
            <hr>

            <div class="row">
              <div class="row">

                <div class="col-sm-3">
                  <div class="card">
                    <img class="card-img-top"
                      src="../../assets/img/close-up-on-volunteer-oganizing-stuff-for-donation.jpg"
                      alt="Card image cap">
                    <div class="card-body">
                      <p class="card-text text-primary">MAIS CIDADANIA</p>
                    </div>
                  </div>
                </div>

                <div class="col-sm-3">
                  <div class="card">
                    <img class="card-img-top"
                      src="../../assets/img/pao-frances-qual-sua-origem-de-onde-vem-esse-nome-e-como-fazer-3.jpg"
                      alt="Card image cap">
                    <div class="card-body">
                      <p class="card-text text-primary">MAIS PÃO</p>
                    </div>
                  </div>
                </div>

                <div class="col-sm-3">
                  <div class="card">
                    <img class="card-img-top" src="../../assets/img/close-up-volunteer-oganizing-stuff-donation.jpg"
                      alt="Card image cap">
                    <div class="card-body">
                      <p class="card-text text-primary">NOVO JEITO AMBIENTAL</p>
                    </div>
                  </div>
                </div>

                <div class="col-sm-3">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title text-primary">DOAÇÕES DIRETAS</h5>
                      <p class="card-text"><strong>ASSOCIAÇÃO NOVO JEITO</strong></p>
                      <p class="card-text">CNPJ: 16.843.830/0001-10</p>
                      <p class="card-text">Santander (033)</p>
                      <p class="card-text">Ag: 4048</p>
                      <p class="card-text">CC: 13001110-7</p>
                      <div class="d-flex justify-content-center">
                        <button type="button" class="btn btn-danger" id="bttn-register">SAIBA MAIS</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>

      <div class="col-md-5">
      </div>

    </div>
    <!-- Novo Jeito -->