<div class="container-fluid">

    <div class="row d-flex justify-content-center">

        <div class="col-md-5" id="img-bg">

        </div>

        <div class="col-md-7 mt-0 mb-5 d-flex justify-content-center align-items-center">

                <div class="col-md-10">

                    <div class="row mt-1">
                        <div class="col"></div>
                        <div class="col">
                            <h1 class="text-center font-t"><span>SEJA UM ACOLHIDO</span></h1>
                        </div>
                        <div class="col"></div>
                    </div>

                    <p class="text-center">ACOLHA VIDAS, TRANSFORME PESSOAS</p>
                    
                    <hr>

                    <div class="row d-flex justify-content-center">

                        <div class="col-md-6">

                            <div class="form-group">
                                <label for="nome">Nome completo da organização<span class="asterisco"> *</span></label>
                                <input [(ngModel)]='usuario.nome' class="form-control" type="text" name="nome" id="nome" placeholder="Digite seu nome">
                            </div>
    
                            <div class="form-group">
                                <label for="telefone">Telefone <span class="asterisco"> *</span></label>
                                <input [(ngModel)]='usuario.telefone' class="form-control" type="text" name="telefone" id="telefone" placeholder="Digite seu telefone">
                            </div>

                            <div class="form-group">
                                <label for="senha">Senha<span class="asterisco"> *</span></label>
                                <input (input) = 'confirmSenha($event)' class="form-control" type="password" name="senha" id="senha" placeholder="Digite sua senha (Mínimo 9 caracteres)">
                            </div>
    
                            <div class="form-group">
                                <label for="tempo">Fundado há mais de 2 anos?<span class="asterisco"> *</span></label>
                                <div>
                                    <input type="radio" id="sim" name="opt1" value="1">
                                    <label class="mr-5 ml-2" for="sim">Sim</label>
                                    <label class="ml-5 mr-2" for="nao">Não</label>  
                                    <input type="radio" id="nao" name="opt1" value="0">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="causa">Qual a causa da sua ONG?<span class="asterisco"> *</span></label>
                                <div>
                                    <div class="row ml-4">
                                        <input type="radio" id="saude" name="opt2" value="1">
                                        <label class="ml-2" for="saude">Saúde</label>
                                    </div>
    
                                    <div class="row ml-4">
                                        <input type="radio" id="educacao" name="opt2" value="2">
                                        <label class="ml-2" for="educacao">Educação</label>
                                    </div>
    
                                    <div class="row ml-4">
                                        <input type="radio" id="cidadania" name="opt2" value="3">
                                        <label class="ml-2" for="cidadania">Cidadania</label>
                                    </div>
    
                                    <div class="row ml-4">
                                        <input type="radio" id="cultura" name="opt2" value="4">
                                        <label class="ml-2" for="cultura">Cultura e esportes</label>
                                    </div>
    
                                    <div class="row ml-4">
                                        <input type="radio" id="genediv" name="opt2" value="5">
                                        <label class="ml-2" for="genediv">Gênero e diversidade</label>
                                    </div>
    
                                    <div class="row ml-4">
                                        <input type="radio" id="ambiente" name="opt2" value="6">
                                        <label class="ml-2" for="ambiente">Meio Ambiente</label>
                                    </div>
    
                                    <div class="row ml-4">
                                        <input type="radio" id="protanim" name="opt2" value="7">
                                        <label class="ml-2" for="protanim">Proteção Animal</label>
                                    </div>                            
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">

                            <div class="form-group mb-3">
                                <label for="email">E-mail<span class="asterisco"> *</span></label>
                                <input [(ngModel)]='usuario.usuario' class="form-control" type="email" name="email" id="email" placeholder="Digite o e-mail da ONG">
                            </div>

                            <div class="form-group mb-3">
                                <label for="nome">Estado<span class="asterisco"> *</span></label>
                                <select class="form-control" name="estado" id="estado" (change)='userEstado($event)'>
                                    <option value="acre">ACRE</option>
                                    <option value="alagoas">ALAGOAS</option>
                                    <option value="amapa">AMAPÁ</option>
                                    <option value="amazonas">AMAZONAS</option>
                                    <option value="bahia">BAHIA</option>
                                    <option value="ceara">CEARÁ</option>
                                    <option value="espirito santo">ESPÍRITO SANTO</option>
                                    <option value="goias">GOÍAS</option>
                                    <option value="maranhao">MARANHÃO</option>
                                    <option value="mato grosso">MATO GROSSO</option>
                                    <option value="mato grosso do sul">MATO GROSSO DO SUL</option>
                                    <option value="minas gerais">MINAS GERAIS</option>
                                    <option value="para">PARÁ</option>
                                    <option value="paraiba">PARAÍBA</option>
                                    <option value="parana">PARANÁ</option>
                                    <option value="pernambuco" selected>PERNAMBUCO</option>
                                    <option value="piaui">PIAUÍ</option>
                                    <option value="rio de janeiro">RIO DE JANEIRO</option>
                                    <option value="rio grande do norte">RIO GRANDE DO NORTE</option>
                                    <option value="rio grande do sul">RIO GRANDE DO SUL</option>
                                    <option value="rondonia">RONDÔNIA</option>
                                    <option value="roraima">RORAIMA</option>
                                    <option value="santa catarina">SANTA CATARINA</option>
                                    <option value="sao paulo">SÃO PAULO</option>
                                    <option value="sergipe">SERGIPE</option>
                                    <option value="tocantnis">TOCANTINS</option>
                                    <option value="distrito federal">DISTRITO FEDERAL</option>
                                </select>
                            </div>

                            <div class="rform-group">
                                <label for="confirmar-senha">Confirmar senha<span class="asterisco"> *</span></label>
                                <input [(ngModel)]='usuario.senha' class="form-control" type="password" name="confirmar-senha" id="confirmar-senha" placeholder="Confirme sua senha">
                            </div>

                            <div class="form-group">
                                <label for="foto">Link da foto</label>
                                <input [(ngModel)]='usuario.foto' class="form-control" type="text" name="foto" id="foto" placeholder="Insira o link da foto que deseja utilizar">
                            </div>

                            <div class="form-group mt-3">
                                <label for="apoioPolitico">Faz parte ou tem ligação com algum partido político?<span class="asterisco"> *</span></label>
                                <div>
                                    <input type="radio" id="sim2" name="opt3" value="1">
                                    <label class="mr-5 ml-2" for="sim2">Sim</label>
                                    <label class="ml-5 mr-2" for="nao2">Não</label>  
                                    <input type="radio" id="nao2" name="opt3" value="0">
                                </div>
                            </div>

                            <div  class="form-group mb-4">
                                <label for="acolher">A ONG possui alguma certificação ou prêmio<span class="asterisco"> *</span></label>
                                <label class="mr-5" for="sim"><input class="ml-3 test" type="radio" id="doando" name="opt4" value="1"> Sim</label>
                                <label class="ml-5" for="nao">Não <input class="test" type="radio" id="voluntario" name="opt4" value="0"></label>
                            </div>

                            <button class="btn botao btn-lg botao mt-5" type="submit" (click)='cadastrar()'>Cadastrar</button>

                        </div>
    
                            
                    </div>


                    
                
                    

                    <!-- <div class="form-group mb-3">
                        <label for="foto">Link da foto</label>
                        <input [(ngModel)]='usuario.foto' class="form-control" type="text" name="foto" id="foto" placeholder="Insira o link da foto que deseja utilizar">
                    </div>

                    <div class="form-group mb-3">
                        <label for="data">Data de nascimento</label>
                        <input [(ngModel)]='usuario.dataNascimento' class="form-control" type="date" name="data" id="data">
                    </div>

                    <div class="form-group mb-3">
                        <label for="senha">Senha</label>
                        <input (input) = 'confirmSenha($event)' class="form-control" type="password" name="senha" id="senha" placeholder="Digite sua senha (Mínimo 9 caracteres)">
                    </div>

                    <div class="rform-group mb-3">
                        <label for="confirmar-senha">Confirmar senha</label>
                        <input [(ngModel)]='usuario.senha' class="form-control" type="password" name="confirmar-senha" id="confirmar-senha" placeholder="Confirme sua senha">
                    </div>

                    <div class="form-group mb-3">
                        <label for="tipo">Tipo de usuário</label>
                        <select class="form-control" name="tipo" id="tipo" (change)='tipoUser($event)'>
                            <option>Selecione um tipo de usuário:</option>
                            option value="administrador">Administrador</option>
                            <option value="colaborador">Colaborador</option>
                            <option value="favorecido">Beneficiado</option>
                        </select>
                    </div>

                    <div class="form-check mb-3">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                        <label class="form-check-label text-justify" for="defaultCheck1">Li, entendi e concordo com os Termos e Condições de Uso e com a Política de Privacidade da <a data-toggle="modal" data-target="#termosDeUso" class='linkModal'>Reconect</a>
                        </label>
                    </div>

                    <div class="row d-flex justify-content-center">
                        <button class="btn btn-danger btn-lg botao" type="submit" routerLink='/inicio'>Cancelar</button>
                        <button class="btn btn-success btn-lg botao" type="submit" (click)='cadastrar()'>Cadastrar</button>
                    </div>
                    <div class="row mb-3">
                        <div></div>
                    </div> -->

                </div>

            </div>

    </div>

</div>

<div class="modal fade" id="termosDeUso" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel">Termos de Uso</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body text-justify">
            <h2>Política Privacidade</h2>
            <p>A sua privacidade é importante para nós. É política do RECONECT respeitar a sua privacidade em relação a qualquer informação sua que possamos coletar no site <a href="https://reconect.netlify.app/#/inicio">RECONECT</a>, e outros sites que possuímos e operamos.</p> <p>Solicitamos informações pessoais apenas quando realmente precisamos delas para lhe fornecer um serviço. Fazemo-lo por meios justos e legais, com o seu conhecimento e consentimento. Também informamos por que estamos coletando e como será usado. </p>
            <p>Apenas retemos as informações coletadas pelo tempo necessário para fornecer o serviço solicitado. Quando armazenamos dados, protegemos dentro de meios comercialmente aceitáveis ​​para evitar perdas e roubos, bem como acesso, divulgação, cópia, uso ou modificação não autorizados.</p>
            <p>Não compartilhamos informações de identificação pessoal publicamente ou com terceiros, exceto quando exigido por lei.</p>
            <p>O nosso site pode ter links para sites externos que não são operados por nós. Esteja ciente de que não temos controle sobre o conteúdo e práticas desses sites e não podemos aceitar responsabilidade por suas respectivas <a href='https://politicaprivacidade.com' target='_BLANK'>políticas de privacidade</a>. </p> <p>Você é livre para recusar a nossa solicitação de informações pessoais, entendendo que talvez não possamos fornecer alguns dos serviços desejados.</p>
            <p>O uso continuado de nosso site será considerado como aceitação de nossas práticas em torno de privacidade e informações pessoais. Se você tiver alguma dúvida sobre como lidamos com dados do usuário e informações pessoais, entre em contacto connosco.</p>
            <h3>Compromisso do Usuário</h3>
            <p>O usuário se compromete a fazer uso adequado dos conteúdos e da informação que o RECONECT oferece no site e com caráter enunciativo, mas não limitativo:</p> <ul> <li>A) Não se envolver em atividades que sejam ilegais ou contrárias à boa fé a à ordem pública;</li> <li>B) Não difundir propaganda ou conteúdo de natureza racista, xenofóbica, <a style='color: inherit !important; text-decoration:none !important;' href='https://jogoshoje.io'>jogos de hoje</a> ou azar, qualquer tipo de pornografia ilegal, de apologia ao terrorismo ou contra os direitos humanos;</li> <li>C) Não causar danos aos sistemas físicos (hardwares) e lógicos (softwares) do RECONECT, de seus fornecedores ou terceiros, para introduzir ou disseminar vírus informáticos ou quaisquer outros sistemas de hardware ou software que sejam capazes de causar danos anteriormente mencionados.</li> </ul> <h3>Mais informações</h3>
            <p>Esperemos que esteja esclarecido e, como mencionado anteriormente, se houver algo que você não tem certeza se precisa ou não, geralmente é mais seguro deixar os cookies ativados, caso interaja com um dos recursos que você usa em nosso site.</p> <p>Esta política é efetiva a partir de <strong>Janeiro</strong>/<strong>2022</strong>.</p>
        </div>

        </div>
    </div>
</div>
