@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

@font-face {
    font-family: "Rawles";
    src: local("Rawles"), url(../../assets/fonts/Rawles.ttf) format("truetype");
}

.nav-bar {
    background-color: #061c39;
}

.nav-bar a {
    font-family: 'Poppins';
    text-decoration: none;
    font-weight: bolder;
    color: #fff;
}

.btn-cad {
    font-family: 'Poppins', serif;
    border-radius: 20px;
    background-color: #0072b1;
}

.fs-20 {
    font-size: 20pt;
}

.fade {
    opacity: 0.9;
}

.fade:hover {
    opacity: 1;
}

#barcolor {
    z-index: 10001;
    background: rgb(124, 157, 212);
    background: linear-gradient(90deg, rgba(124, 157, 212, 0.9476832969515931) 1%, rgba(50, 102, 190, 0.9756945014333859) 17%, rgba(198, 100, 143, 1) 52%, rgba(222, 19, 41, 0.9140698515734419) 83%);
}

#id-logo {
    font-family: 'Rawles';
    font-size: 30px;
    position: relative;
}

#spanmini {
    position: absolute;
    margin-top: 16px;
}

@media screen and (max-width: 992px) {
    #spanmini {
        font-size: 12px;
    }
}

.input-group {
    width: 358px;
}

@media screen and (max-width: 992px) {
    .dropdown-menu-right {
        right: -133px;
        left: auto;
    }
}

@media screen and (max-width: 992px) {
    .input-group {
        width: 250px;
    }
}

.dropdown-toggle::after {
    content: none;
}
.bdr{
    border-radius: 50px;
    background-color: white;
    width: 40px;
    height: 40px;
}
.material-symbols-outlined{
    color: white;
    background-color: #de4040;
    border-radius: 5px;
}

.btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show>.btn-secondary.dropdown-toggle {
    color: #fff;
    background-color: white;
    border-color: #8d84be;
}
.dropdown-menu {  
    background-color: #de4040;
    color: white !important;
}
.dropdown-item {
    font-weight: 500;
    color: #e5f2ff;
}
.dropdown-item:focus, .dropdown-item:hover {
    text-decoration: none;
    background-color: #342c4796;
}

.search{
    background-color: white;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}

.btn-center{
    transform: translateX(-4.5px);
}

.bar-ml{
    margin-left: 110px;
}