@import url('https://fonts.googleapis.com/css2?family=Eczar&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&display=swap');

#img-bg{
    background-image: url("https://i.imgur.com/AJxE3Ic.png");
    min-height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 0.6;
}

span{
    color: rgb(255, 79, 99);
}

.asterisco{
    color: red;
}

hr{
    background-color: rgb(246, 172, 181);
    fill: rgb(246, 172, 181);
}

.btn{
    border-radius: 20px;
    padding:.5rem 0.5rem;
}

.botao{
    min-width: 10rem;
    margin-right: 3rem;
    margin-top: 1.750rem;
    background-color: rgb(255, 79, 99);
    color: aliceblue;
    width: 300px;
}

.font-t {
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    color: #0a0a0a;
}

.test{
    align-items: center;
    justify-content: center;
    color: #0072b1;
}

.form-control{
    color: aliceblue;
    border-color: #0a0a0a;
    background-color: rgb(246, 172, 181);
}

input::placeholder{
    color: aliceblue;
}

input[type=radio]{
    width: 20px;
    height: 20px;
}

input[type=radio]:checked{
    width: 20px;
    height: 20px;
}