<div class="container-fluid tela">
  <!-- Topo -->

  <!-- Topo -->

  <!-- Jumbotron -->
  <div class="jumbotron jumbotron-fluid bg-jb row" id="quemSomos">
    <div>
      <div class="row">
        <div class="col-md-12 d-flex justify-content-center flex-wrap">
          <carousel [images]="images">
          </carousel>
        </div>
      </div>
      <div class="row mb-5">
        <div></div>
      </div>
    </div>
    <div class="container col-md-7" id="main-container">
      <h1 class="display-4 text-white">SOBRE O ACOLHER</h1>
      <h3 class="display-6 text-white">Acolhendo vidas, transformando pessoas</h3>
      <p class="lead text-left">
        A invisibilidade tira oportunidades. Pensansando nisso, o ACOLHER nasceu da cabeça de 12 jovens engajados
        e preocupados com as causas sociais. Nosso intuito é fazer você ser visto e acolhido, para que assim a sua vida
        seja transformada.
      </p>
      <p class="lead text-justify text-uppercase">
        venha fazer parte do acolher, acolha vidas transforme pessoas.
      </p>
    </div>
    <div class="col-md-4">
      <img id="img-main" src="https://i.imgur.com/cZrfYjB.png" class='img-cf'>
      <div class="d-flex justify-content-center">
        <div class="row">
          <div class="col-xs-6 mr-4">
            <button type="button" class="btn btn-primary" id="bttn-register" routerLink='/cadastro-acolhedor'>SEJA UM
              ACOLHIDO</button>
          </div>
          <div class="col-xs-6 mr-2">
            <button type="button" class="btn btn-danger" id="bttn-register" routerLink='/cadastro-acolhido'>SEJA UM
              ACOLHEDOR</button>
          </div>
        </div>
      </div>

    </div>
  </div>
  <!-- /Jumbotron -->

  <!-- Quem acolhemos -->
  <div class="container" id="quemAcolhemos">
    <div class="row mb-5">
      <div></div>
    </div>
    <div class="row d-flex justify-content-center pt-4 mb-5">
      <h1>QUEM ACOLHEMOS</h1>
    </div>
    <div class="row d-flex justify-content-between align-items-center">
      <div class="col-md-3 d-flex flex-column ">
        <div>
          <div class="d-flex justify-content-center">
            <h2><u>NOVO JEITO</u></h2>
          </div>
          <p class='text-justify'>
            O usuário tem como papel doar, consertar e/ou vender,a baixo custo de mercado, computadores, notebooks,
            tablets, celulares, entre outros equipamentos.
            Além disso, tem por objetivo fornecer uma ampliação de serviços de internet para áreas remotas e
            marginalizadas pelo poder público, bem como oferecer cursos capacitantes e de letramento digital.
          </p>
          <div class="d-flex justify-content-center">
            <button type="button" class="btn btn-danger" id="bttn-register" routerLink='/cadastro'>SEJA UM
              ACOLHEDOR</button>
          </div>
        </div>
        <div class='mt-3'>
          <img src="../../assets/img/Puzzle_heart.png" class='img-cf'>
        </div>
      </div>
      <div class="col-md-6 d-flex flex-column ">
        <div>
          <img src="../../assets/img/donation.jpg" class='img-cf'>
        </div>
        <div class='mt-3'>
          <div class="d-flex justify-content-center">
            <h2><u>TRANSFORMA RECIFE</u></h2>
          </div>
          <p class='text-justify'>
            Esse tipo de usuário é destinado para pessoas que não possuem condições financeiras para comprar um
            equipamento para estudar, assistir a aulas on-line e que precisam se capacitar para o mercado de trabalho.
            É necessário cadastrar-se para receber os serviços oferecidos pelo colaborador. Para lideranças que desejem
            levar essa transformação para sua comunidade, é só entrar em contato conosco para ficarem responsáveis por
            conectar pessoas que ainda não possuem
          </p>
          <div class="d-flex justify-content-center">
            <button type="button" class="btn btn-danger" id="bttn-register" routerLink='/cadastro-acolhedor'>SEJA UM
              ACOLHEDOR</button>
          </div>

        </div>
      </div>
      <div class="col-md-3 d-flex flex-column ">
        <div>
          <div class="d-flex justify-content-center">
            <h2><u>PORTO SOCIAL</u></h2>
          </div>
          <p class='text-justify'>
            O usuário tem como papel doar, consertar e/ou vender,a baixo custo de mercado, computadores, notebooks,
            tablets, celulares, entre outros equipamentos.
            Além disso, tem por objetivo fornecer uma ampliação de serviços de internet para áreas remotas e
            marginalizadas pelo poder público, bem como oferecer cursos capacitantes e de letramento digital.
          </p>
          <div class="d-flex justify-content-center">
            <button type="button" class="btn btn-danger" id="bttn-register" routerLink='/cadastro-acolhedor'>SEJA UM
              ACOLHEDOR</button>
          </div>
        </div>
        <div class='mt-3'>
          <img src="../../assets/img/2gether.jpg" class='img-cf'>
        </div>
      </div>
      <div class="col-md-5">
      </div>
    </div>
  </div>
  <!-- /Quem acolhemos -->

  <!-- Cursos -->
  <div class="container" id="comoFazemos">
    <div class="row mb-5">
      <div></div>
    </div>
    <div class="row d-flex justify-content-center pt-4 mb-5">
      <h1>COMO FAZEMOS</h1>
    </div>
    <div class="row d-flex justify-content-between align-items-center">
      <div class="col-md-5 d-flex flex-column ">
        <div>
          <div class="d-flex justify-content-start">
            <h2><u>ACOLHIDO</u></h2>
          </div>
          <p class='text-justify'>
            O usuário tem como papel doar, consertar e/ou vender,a baixo custo de mercado, computadores, notebooks,
            tablets, celulares, entre outros equipamentos.
            Além disso, tem por objetivo fornecer uma ampliação de serviços de internet para áreas remotas e
            marginalizadas pelo poder público, bem como oferecer cursos capacitantes e de letramento digital.
          </p>
          <div class="d-flex justify-content-start">
            <button type="button" class="btn btn-primary" id="bttn-register" routerLink='/cadastro-acolhedor'>SEJA UM
              ACOLHIDO</button>
          </div>
        </div>
        <div class='mt-3'>
          <div class="d-flex justify-content-start">
            <h2><u>ACOLHEDOR</u></h2>
          </div>
          <p class='text-justify'>
            O usuário tem como papel doar, consertar e/ou vender,a baixo custo de mercado, computadores, notebooks,
            tablets, celulares, entre outros equipamentos.
            Além disso, tem por objetivo fornecer uma ampliação de serviços de internet para áreas remotas e
            marginalizadas pelo poder público, bem como oferecer cursos capacitantes e de letramento digital.
          </p>
          <div class="d-flex justify-content-start">
            <button type="button" class="btn btn-danger" id="bttn-register" routerLink='/cadastro-acolhedor'>SEJA UM
              ACOLHEDOR</button>
          </div>
        </div>
      </div>



      <div class="col-md-7 d-flex flex-column ">
        <div class='mt-3'>
          <img src="../../assets/img/typing.jpg" class='img-cf'>
        </div>
        <div class="col-md-5">
        </div>
      </div>

    </div>
    <!-- Cursos -->
    <hr>
    <!-- Novo jeito -->
    <div class="container" id="comoFazemos">
      <div class="row mb-5">
        <div></div>
      </div>
      <div class="row d-flex justify-content-center pt-4 mb-3">
        <h1>ONGS</h1>
      </div>
      <div class="row d-flex justify-content-between align-items-center">

        <div class="row">
          <div class="col-md-7 d-flex flex-column">
            <div>
              <hr>
              <div class="d-flex justify-content-start">
                <h2>NOVO JEITO</h2>
              </div>
              <hr>
              <p class='text-justify'>
                O novo Jeito tem a vocação de tocar corações,
                mudar comportamentos realizar ações solidárias,
                criar movimentos, para que mais e mais pessoas
                possam trabalhar, dormir, comer, estudar e ter
                uma vida mais digna em todos aspectos.
              </p>
              <div class="d-flex justify-content-start">
                <button type="button" class="btn btn-danger" id="bttn-register" routerLink='/cadastro-acolhedor'>SEJA
                  UM
                  ACOLHEDOR</button>
              </div>
            </div>
          </div>
          <div class="col-md-5 d-flex flex-column">
            <img src="../../assets/img/NOVOJEITO.png" class='img-cf'>
          </div>
          <div class="w-100"></div>
          <div class="col-md-12 mt-3 d-flex flex-column">
            <div>
              <hr>
              <div class="d-flex justify-content-start">
                <h2>NOSSOS PROJETOS</h2>
              </div>
              <hr>

              <div class="row">
                <div class="row">

                  <div class="col-sm-3">
                    <div class="card">
                      <img class="card-img-top"
                        src="../../assets/img/close-up-on-volunteer-oganizing-stuff-for-donation.jpg"
                        alt="Card image cap">
                      <div class="card-body">
                        <p class="card-text text-primary">MAIS CIDADANIA</p>
                      </div>
                    </div>
                  </div>

                  <div class="col-sm-3">
                    <div class="card">
                      <img class="card-img-top"
                        src="../../assets/img/pao-frances-qual-sua-origem-de-onde-vem-esse-nome-e-como-fazer-3.jpg"
                        alt="Card image cap">
                      <div class="card-body">
                        <p class="card-text text-primary">MAIS PÃO</p>
                      </div>
                    </div>
                  </div>

                  <div class="col-sm-3">
                    <div class="card">
                      <img class="card-img-top" src="../../assets/img/close-up-volunteer-oganizing-stuff-donation.jpg"
                        alt="Card image cap">
                      <div class="card-body">
                        <p class="card-text text-primary">NOVO JEITO AMBIENTAL</p>
                      </div>
                    </div>
                  </div>

                  <div class="col-sm-3">
                    <div class="card">
                      <div class="card-body">
                        <h5 class="card-title text-primary">DOAÇÕES DIRETAS</h5>
                        <p class="card-text"><strong>ASSOCIAÇÃO NOVO JEITO</strong></p>
                        <p class="card-text">CNPJ: 16.843.830/0001-10</p>
                        <p class="card-text">Santander (033)</p>
                        <p class="card-text">Ag: 4048</p>
                        <p class="card-text">CC: 13001110-7</p>
                        <div class="d-flex justify-content-center">
                          <button type="button" class="btn btn-danger" id="bttn-register">SAIBA MAIS</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>

        <div class="col-md-5">
        </div>

      </div>
      <!-- Novo Jeito -->

      <!-- Acompanhe Atividades -->
      <div class="container" id="nossasAtividades">
        <div class="row mb-5">
          <div></div>
        </div>
        <div class="row d-flex justify-content-center pt-4 mb-5">
          <h1 class="text-danger">ACOMPANHE NOSSAS ATIVIDADES</h1>
        </div>
        <div class="row d-flex justify-content-between">
          <div class="col-md-3 d-flex flex-column ">

            <div>
              <div class="card">
                <div class="card-body d-flex justify-content-center bgc">
                  <h3 class="text-light"><strong>DESTAQUES</strong></h3>
                </div>
              </div>
            </div>

            <div>
              <div class="card mt-3">
                <img class="card-img-top" src="../../assets/img/pessoas-cuidando-juntas-das-doacoes_23-2148687307.webp"
                  alt="Card image cap">
                <div class="card-body">
                  <p class="card-text text-primary">FOME ZERO</p>
                  <p class="card-text">25 DE NOV 2022</p>
                </div>
              </div>
            </div>

            <div>
              <div class="card mt-1">
                <img class="card-img-top" src="../../assets/img/close-up-volunteer-oganizing-stuff-donation.jpg"
                  alt="Card image cap">
                <div class="card-body">
                  <p class="card-text text-primary">EDUCA MAIS</p>
                  <p class="card-text">26 DE NOV 2022</p>
                </div>
              </div>
            </div>



            

          </div>

          <div class="col-md-6 d-flex flex-column ">
            <div>
              <img src="../../assets/img/limpamais.jpg" class='img-cf'>
            </div>
            <div>
              <div class="d-flex justify-content-start">
                <p>LIMPA MAIS - 30 DE NOV 2021</p>
              </div>
              <p class='text-justify'>
                A ONG alemã One Earth Ocean (OEOO) é quem está por trás da operação de limpeza - uma das maiores já
                realizadas na Baía de Guanabara, Os Organizadores prepararam a ação durante meses e pagaram 100 reais a
                cada um dos pescadores pela participação.
              </p>
           

            </div>
          </div>
          <div class="col-md-3 d-flex flex-column ">
            <div>
              <div class='mt-3'>
                <img src="../../assets/img/calendario.jpg" class='img-cf'>
              </div>
              <div class="d-flex justify-content-center">
                <button type="button" class="btn btn-primary" id="bttn-register">CALENDÁRIO DE AÇÕES</button>
              </div>
              <div class="d-flex justify-content-center mt-5">
                <button type="button" class="btn btn-warning" id="bttn-register">PONTOS DE ARRECADAÇÃO</button>
              </div>
            </div>
            <div class="col-md-5">
            </div>
          </div>
        </div>
        <!-- /Acompanhe Atividades -->


        <div class="row mb-5">
          <div></div>
        </div>
        <div class="row mb-5">
          <div></div>
        </div>

      </div>